


@media (max-width: 768px) {
	body{
		background-color: #191919;
		font-size: 15px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight: 500;
	}
	
	
	.container {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.main {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		background-color: #191919;
		border-radius: 0px;
		box-shadow: none;
		overflow: hidden;
	}
	.messages {
		flex-grow: 1;
		box-sizing: border-box;
		background-color: #191919;
		padding: 14px;
		width: 100%;
		height: calc(100vh - 250px);
		margin: 0px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow-y: auto;
		z-index: 2;
	}
	
	.center{
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 16px;
		color: #ebe5e5;
	}
	
	.clip{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: auto;
		cursor: pointer;
		background-color: #2c2d2f;

	
	}
	
	.clip img{
		margin-right: 0px;
		width: 23px;
		height: 23px;
		cursor: pointer;
	}
	
	.vvod {
		padding: 10px 14px;
		padding-top: 12px;
		width: calc(80% - 72px);
		border-radius:  0px;
	border: none;
	background-color: #2c2d2f;
	color: white;
	flex-grow: 1;
	color: #eae4e4;
	font-weight: normal ;
	font-size: 20px;
	}
	
	.vvod:focus {
	outline:none;
	}

	.vvod::placeholder{
		color: #a19b9b;
		font-weight: medium ;
		font-size: 20px;
		line-height: 20px;
		margin-top: 3px;
	}
	
	.go {
		display: none;
	}

	.goTelef{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: auto;
		cursor: pointer;
		background-color: #2c2d2f;
		box-shadow: none;
		border: 0px;
		outline: 0px;
	}

	.goTelef img{
		width: 23px;
		height: 23px;
		cursor: pointer;
	}
	
	.blokMes, .blokMesbot{
		position: relative;
		max-width: 60%;
		display: flex;
		align-items: center;
		padding: 7px 50px 11px 14px;
		background-color: #454648;
		border-radius: 20px;
		margin: 4px 0;
		line-height: 22px;
		overflow-wrap: break-word;
		color: #f3f3f3;
		letter-spacing: 0.9px;
		font-weight: 500;
	}

	.blokMesbot{
		background-color: #2c2d2f;
	}
	
	.block-vvod-go{
		margin-top: 0px;
		display: flex;
		background-color: #2c2d2f;
		padding: 0 4px;
		box-shadow:none;
		border-radius: 0px;
		height: 56px;
	}
	
	.header{
		height: 70px;
		display: flex;
		align-items: center;
		border-bottom: none;
		box-shadow: 0px 0px 5px 2px #0c0c0c;
		padding: 0 12px;
		margin-bottom: 5px;
		z-index: 9;
	}
	
	.header h3{
		margin: 0;
		padding: 0;
		color: #f1f1f1;
	}
	
	.header p{
		margin: 0;
		padding: 0;
		color: rgb(169, 164, 164);
	}
	
	.header img{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 16px;
	}
	
	
	.time{
		position: absolute;
		color: #817e7e;
		font-size: 12px;
		margin-left: 3px;
		bottom: 2px;
		right: 14px;
		letter-spacing: 0;
	}
}