body{
	background-color: rgb(236, 236, 236);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* 
.right{
display: flex;
justify-content: flex-end;
} */

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main {
	width: auto;
	height: auto;
	background-color: rgb(255, 255, 255);
	border-radius: 12px;
	box-shadow: 0px 0px 6px 2px #d3d1d1;
	overflow: hidden;
}
.messages {
	padding: 14px;
	width: 500px;
	height: 530px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow-y: auto;
}

.d-none{
	display: none;
}

.center{
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	color: #ada9a9;
}

.clip{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: none;
	cursor: pointer;
/* 	border: 1px solid #9c9c9c;
	border-radius: 8px 0 0 8px;
	border-right: none; */

}

.clip img{
	margin-right: 12px;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.vvod {
	padding: 10px 14px;
	width: calc(80% - 72px);
	border-radius:  8px 0 0 8px;
border: 1px solid #bfbcbc;
}

.vvod:focus {
outline:none;
}

.go {
	
	background-color: #597da3;
	color: rgb(255, 255, 255);
	font-weight: 500;
	padding: 11px 14px;
	border: none;
	width: 20%;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
}

.blokMes{
	position: relative;
	max-width: 60%;
	display: flex;
	align-items: center;
	padding: 8px 50px 12px 14px;
	background-color: #f1f1f1;
	border-radius: 20px;
	margin: 4px 0;
	line-height: 22px;
	overflow-wrap: break-word;
}

.block-vvod-go{
	margin-top: 16px;
	display: flex;
	background-color: #f1f1f1;
	padding: 14px 16px 24px 16px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, .3);
	border-radius: 0 0 12px 12px;
}

.header{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #d6d6d6;
	padding: 12px 18px ;
}

.header h3{
	margin: 0;
	padding: 0;
}

.header p{
	margin: 0;
	padding: 0;
	color: rgb(129, 129, 129);
}

.header img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 16px;
}


.time{
	position: absolute;
	color: #817e7e;
	font-size: 12px;
	margin-left: 3px;
	bottom: 2px;
	right: 14px;
}

.goTelef{
display: none;
}


@media (max-width: 768px) {
	body{
		background-color: #191919;
		font-size: 15px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight: 500;
	}
	
	
	.container {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.main {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		background-color: #191919;
		border-radius: 0px;
		box-shadow: none;
		overflow: hidden;
	}
	.messages {
		flex-grow: 1;
		box-sizing: border-box;
		background-color: #191919;
		padding: 14px;
		width: 100%;
		height: calc(100vh - 250px);
		margin: 0px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow-y: auto;
		z-index: 2;
	}
	
	.center{
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 16px;
		color: #ebe5e5;
	}
	
	.clip{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: auto;
		cursor: pointer;

	
	}
	
	.clip img{
		margin-right: 0px;
		width: 23px;
		height: 23px;
		cursor: pointer;
	}
	
	.vvod {
		padding: 10px 14px;
		width: calc(80% - 72px);
		border-radius:  0px;
	border: none;
	background-color: #2c2d2f;
	color: white;
	flex-grow: 1;
	}
	
	.vvod:focus {
	outline:none;
	}
	
	.go {
		display: none;
	}

	.goTelef{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: auto;
		cursor: pointer;
		background-color: #2c2d2f;
		box-shadow: none;
		border: 0px;
		outline: 0px;
	}

	.goTelef img{
		width: 23px;
		height: 23px;
		cursor: pointer;
	}
	
	.blokMes{
		position: relative;
		max-width: 60%;
		display: flex;
		align-items: center;
		padding: 7px 50px 11px 14px;
		background-color: #454648;
		border-radius: 20px;
		margin: 4px 0;
		line-height: 22px;
		overflow-wrap: break-word;
		color: #dad1d1;
		letter-spacing: 0.5px;
	}
	
	.block-vvod-go{
		margin-top: 0px;
		display: flex;
		background-color: #2c2d2f;
		padding: 0;
		box-shadow:none;
		border-radius: 0px;
		height: 46px;
	}
	
	.header{
		height: 70px;
		display: flex;
		align-items: center;
		border-bottom: none;
		box-shadow: 0px 0px 5px 2px #0c0c0c;
		padding: 0 12px;
		margin-bottom: 5px;
		z-index: 9;
	}
	
	.header h3{
		margin: 0;
		padding: 0;
		color: #f1f1f1;
	}
	
	.header p{
		margin: 0;
		padding: 0;
		color: rgb(169, 164, 164);
	}
	
	.header img{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 16px;
	}
	
	
	.time{
		position: absolute;
		color: #817e7e;
		font-size: 12px;
		margin-left: 3px;
		bottom: 2px;
		right: 14px;
		letter-spacing: 0;
	}
}